* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background-color: #e5dcdc;
}

/*-----------------------header start------------------ */

header {
  width: 100%;
  background-color: crimson;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.logo {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-decoration: none;
}

.logo:hover {
  color: #000000;
}

ul {
  display: flex;
  align-items: center;
  gap: 6rem;
  list-style-type: none;
}

li a {
  color: #fff;
  text-decoration: none;
}

li a:hover {
  color: black;
  transition: all 0.5s;
}

/*-----------------------header end------------------ */

/* ---------------------main start----------------------- */

main {
  width: 100%;
}



section {
  padding-top: 30px;
}

.wrapper {
  display: flex;
  gap: 10px;
}

.card {
  width: 300px;
  text-align: center;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}

summary {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin: 5px;
  border: 2px solid #000000;
}

p {
  font-weight: lighter;
  padding: 10px;
}


aside{
  width: 30%;
  height: auto;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

.article{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}


/* ---------------------main end----------------------- */

/*---------------------------footer start--------------------------- */

footer {
  width: 100%;
  background-color: #fff;
  margin-top: 100px;
}

.footer-wrapper {
  display: flex;
  gap: 100px;
  height: 200px;
  background-color: #fff;
  padding: 20px;
}

.logo {
  color: #4e4747;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-decoration: none;
}

.footer-cards {
  display: flex;
  width: 100%;
  gap: 80px;
}

.footer-card {
  width: 200px;
  text-align: center;
  border: #000000 solid 1px;
  padding: 20px;
  margin-top: 40px;
}


/*---------------------------footer end--------------------------- */
